<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
            xsi:schemaLocation="
             http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <http auto-config="true">
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/index**" access="hasRole('ROLE_USER')" />
        <form-login
            login-page="/login"
            login-processing-url="/validar"
            username-parameter="nombre"
            password-parameter="contrasena"
            default-target-url="/index"
        />
        <logout
            logout-url="/logout"
            logout-success-url="/login"
        />
        <csrf />
    </http>
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="daniel" password="1234" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
</bean:beans>